/* ----------Fuente---------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(115deg, #004ff9, #000000);
    background-attachment: fixed;
}

#nombre {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 90px;
    
}
span {
    display: inline-block;
    font-size: 50px;
    color: white;
    text-shadow: 0.04em 0.04em 0.05em black;
    animation: span-wave 4s infinite alternate;
}

#descripcion {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -167px;
    left: 170px;
    height: 300px;
    width: 500px;
    border-radius: 0.25rem;
    background-color: #EEF2FC;
    box-shadow: 10px 5px 5px black;
}

#descripcion p{
    font-size: 18px;
    padding: 0px 20px;
}

#descripcion img {
    max-height:100%;
    max-width: 30%;
    padding-left: 20px;
}

@keyframes span-wave {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(30px);
    }
}


/*Recordar quitar el bottom y dejar ajustado por la altura de la pagina*/
#pie {
    background-color: #333333;
    border: solid 1px;
    position: relative;
    bottom: -694px;
    margin: 0px -8.4px;
    padding: 0px 4px;
}
