#navegacion {
    position: sticky;
    top: 0px;    
}

ul {
    list-style-type: none;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8.4px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    
}

li {
    display: block;
    padding: 16px;
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
}

li:hover {
    background-color: #111111;
}
/*Recordar quitar el bottom y dejar ajustado por la altura de la pagina*/
#pie {
    border: solid 1px;
    position: relative;
    bottom: -695px;
}
